* {
    background-color: #50c7c5;
}

h1 {
    font-family: 'Single Day', cursive;
    font-size: 80px;
    color:crimson;
    padding: 10px;
}

#bienvenida {
     color:aquamarine;
     font size: 25px;
     font family:Verdana;
}
.vinotinto {
    background-image: url(bandera\ de\ Venezuela.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    font-family: 'Nova Square', sans-serif;
    font-size: 55px;
    color:#8F3A59;
}   
p {
    color:blueviolet;
    font-family:'Nova Square', sans-serif;
    font-size: 30px;
}

.bordes-uno {
    border-style: solid dashed dotted;
    border-width: 8px;
    border-color: blue;
}
.bordes {
    border-radius: 20px;
    border-color: red;
}
.balon {
    border: 15px;
    border-style: dashed solid;
    border-color: #8F3A59;
    border-width: 5px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    cursor:pointer;
}
.betis {
    font-size: 35px;
    color:chocolate;
}
h3 {
    color:chocolate;
    font-family:'Nova Square', sans-serif;
    font-size: 30px;
}
.cursor {
    cursor:pointer;
}
.champions {
    background-image: url(champions.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80rem;
    width: 80rem;
    font-family: 'Nova Square', sans-serif;
    font-size: 30px;
    color:goldenrod;
    text-align: center;
    
}




