* {
    background-color: #50c7c5;
}

h1 {
    font-family: 'Single Day', cursive;
    font-size: 80px;
    color:crimson;
    padding: 10px;
}

#bienvenida {
     color:aquamarine;
     font size: 25px;
     font family:Verdana;
}
p {
    color:blueviolet;
    font-family:'Nova Square', sans-serif;
    font size: 20px;
}

.bordes-uno {
    border-style: solid dashed dotted;
    border-width: 8px;
    border-color: blue;
}
.bordes {
    border-radius: 20px;
    border-color: red;
}
.vamos {
  font-family: 'Nova Square', sans-serif;
  font-size: 80px;
  color:#8F3A59;
}
.balon {
    border: 15px;
    border-style: dashed solid;
    border-color: #8F3A59;
    border-width: 5px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
}
.betis {
    font-size: 35px;
    color:chocolate;
}




